{% extends 'base.html' %}
{% block title %} Add blog {% endblock %}

{% block content %}
<h1>Add new blog</h1>
<br>
{% if user.is_authenticated %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-flex flex-row-reverse ">

        <button type="submit" class="btn btn-success">Post</button>
        <a class="btn btn-outline-secondary mx-4" href="{% url 'home' %}">Back</button> </a>


    </div>



    {% else %}
    <h5>Register or log in to add new blog</h5>
    <br>
    <a href="{% url 'register' %}" class="btn btn-success">Register</a>
    <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
    {% endif %}

    {% endblock %}