{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>


<div class="list-group">
    {% for post in object_list %}

    <a href="{%url 'article-detail' post.pk %}"
        class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>{{post.pub_date}}</small>
        </div>

        <small>Written by <i>{{post.author}}</i> </small>

        <p class="mb-1">{{post.body | slice:":200"}}
        </p>
    </a>
    {% endfor %}

</div>
{% endblock %}